.orders {
	border: thin solid black;
	width: 100%;
}
.ordersHeader {
	text-align: center;
	font-style: italic;
	color: Snow;
	background: Teal;
}
.oddColumn {
	text-align: center;
	background-color: silver;
}
.evenColumn {
	text-align: center;
	background-color: white;
}